
<h2>Driver Page: Confirmed Display</h2>
{{prompt}}

    <form method="post">
        {% csrf_token %}
        {% for ride in confirmed_rides %}
        <ul>
          <li>[Request id] {{ ride.id }} </li>
          <li>[Owner] {{ ride.owner }}</li>      
        	<li>[Destination] {{ ride.dest }}</li>
          <li>[Arrive Time] {{ ride.time_arrive }}</li>
          <li>[Passenger Num]{{ ride.numberOfPassenger }} </li>
		      <li>[Share Status] {{ ride.canShare }}</li>
		      <li>[Ride Status]{{ ride.status }}</li>
  
  
        </ul>
	        
          
          <h2><a class="article-title" href="{% url 'complete_ride' ride.id %}">Complete</a></h2>
		<br>
	{% endfor %}
    </form>

    <a href="{% url 'welcome' %}">back to welcome page</a><br>
    <a href="{% url 'logout' %}" style="color: blue;" name="logout">logout</a>

	

	
