{% load crispy_forms_tags %}   

{{prompt}}

<div class="container">
  <h1 style="color: blue;">this is a driver page, you can edit your vehicle information here!</h1>
  <form method="POST">
		{% csrf_token %}
		{{ driver_form|crispy }}                    
		<button type="submit">Driver Register</button>
	</form>
  <a href="{% url 'login' %}" >logout</a>
  
  <a href="{% url 'welcome' %}" >back to welcome page</a>
  </div>



