
{% load crispy_forms_tags %}
{{prompt}}
    <div> 
    <h1 style="color: blue;">Driver Search Page</h1>
        <form method = "POST">
            {% csrf_token %}
                <h2>Search Requests</h2>
                {{ form|crispy }}
            
                <button type="submit">Search</button>
        </form>
    
    </div>
    
<a href="{% url 'welcome' %}">back to welcome page</a><br>
<a href="{% url 'logout' %}" style="color: blue;" name="logout">logout</a>


    

    
