
    <h2>Driver Search Display</h2>
    {% for ride in rides %}
        <article >
          
              <ul>
                
              	<li>[Destination] {{ ride.dest }}</li>
                <li>[Arrive Time] {{ ride.time_arrive }}</li>
                <li>[Passenger Num]{{ ride.numberOfPassenger }} </li>
      		      <li>[Share Status] {{ ride.canShare }}</li>
      		      <li>[Ride Status]{{ ride.status }}</li>
        
        
              </ul>
            
            
            
            {% if ride.status == 'open' %}
                <h2><a  href="{% url 'confirm_request' ride.id %}">Confirm this order</a></h2>
            {% endif %}
            
           
        </article>
    {% endfor %}
    
    <a href="{% url 'welcome' %}">back to welcome page</a><br>


	

	
