
{{prompt}}
<h1> Login Page </h1>
    <form method ='POST'>
      {% csrf_token %}
        <p>Username</p>
        <input type="text" name="username" required>
  
        <p>Password</p>
        <input type="password" name="password" required>
        <br><br>
        <button type="submit">Login</button>
    </form>
    
    
 <a href="{% url 'register' %}" >If you have no account, please sign up now!</a>