

<h2>Welcome:Profile Page {{user.username}}!</h2>
{{prompt}}

    <form method="post">
        {% csrf_token %}
        {{ f.as_p }}
        <button type="submit">Update my car</button>
    </form>
    
    <a href="{% url 'welcome' %}">back to welcome page</a><br>



