{% load crispy_forms_tags %}         

{{prompt}}

<div>
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button type="submit">Register</button>
	</form>
	<p>If you have registered before, <a href="{% url 'login' %}">please login here</a></p>
</div>



  
  


  
