<h2>Welcome:Ride Selection Page {{user.username}}!</h2>
{{prompt}}


    <form method="post">
        {% csrf_token %}
        {% for ride in ride_own %}
          
        <ul>
          <li>[Request id] {{ ride.id }} </li>
          <li>[Owner] {{ ride.owner }}</li>      
        	<li>[Destination] {{ ride.dest }}</li>
          <li>[Arrive Time] {{ ride.time_arrive }}</li>
          <li>[Passenger Num]{{ ride.numberOfPassenger }} </li>
		      <li>[Share Status] {{ ride.canShare }}</li>
		      <li>[Ride Status]{{ ride.status }}</li>
  
        </ul>
                
                
          {% if ride.status == 'confirmed' %}
          <br>
          <p> This ride is confirmed, below is driver info: </p><br>
        {% block content %}
        <ul>
          <li>[Driver Name] {{ ride.driver.username }} </li>
          <li>[Capacity] {{ ride.driver.vehicle.capacity }}</li>      
        	<li>[Type] {{ ride.driver.vehicle.car_type }}</li>
          <li>[Plate Number] {{ ride.driver.vehicle.license_number }}</li>
          <li>[Description]{{ ride.driver.vehicle.description }} </li>
        </ul>
        {%endblock content%}
        {% endif %}
            
          <p> if you want to edit this request, click here</p>
	        <a href="ride_select/edit_request/{{ride.id}}/">Edit Request</a>
		<br>
	{% endfor %}
    </form>

    <a href="{% url 'welcome' %}">back to welcome page</a><br>
    <a href="{% url 'logout' %}" style="color: blue;" name="logout">logout</a>
