
    <h2>Share Search Display</h2>
    {% for ride in rides %}
        <article class="class1">
            <div class="class2">
            <div class="c3">
                
            
                <ul>
                
              	<li>[Destination] {{ ride.dest }}</li>
                <li>[Arrive Time] {{ ride.time_arrive }}</li>
                <li>[Passenger Num]{{ ride.numberOfPassenger }} </li>
        
        
              </ul>
                
            </div>
            
            
            {% if ride.status == 'open' %}
                <h2><a " href="{% url 'join_ride' ride.id %}">Join Ride</a></h2>
            {% endif %}
            
            </div>
        </article>
    {% endfor %}
    
    <a href="{% url 'welcome' %}">back to welcome page</a><br>
    <a href="{% url 'logout' %}" >logout</a>


	
