{% load crispy_forms_tags %}

    <div >  
        <h2>Search Ride</h2> 
        <form method = "POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Search Ride</button>
            
        </form>
        
        
    </div>
    

<a href="{% url 'welcome' %}">back to welcome page</a><br>
<a href="{% url 'logout' %}" style="color: blue;" name="logout">logout</a>


    
