{% load crispy_forms_tags %}

<div class="container">

  <h1 style="color: blue;">this is a ride request page, you can send your ride request here!</h1>
  
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Request Send</button>
  </form>
  
  <br><br>
  <a href="{% url 'login' %}" style="color: blue; ">logout</a><br><br>
  <a href="{% url 'welcome' %}" style="color: blue;">back to welcome page</a>
  
</div>




            
