<h2>Welcome:User Profile Page {{user.username}}!</h2>

<form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  <button type="submit">Update user profile</button>
</form>

<a href="{% url 'welcome' %}">back to welcome page</a><br>
<a href="{% url 'logout' %}" style="color: blue;" name="logout">logout</a>



