{{prompt}}
<div class="container">

  <h1 style="color: blue;">welcome!</h1>
  
  {% if request.user.driverstatus.isDriver %}
      <h2 style="color: blue;">You are a driver!</h2>
      <a href="{% url 'delete_driver' %}">Delete Driver Status</a><br>
      <br>
      
  <a href="{% url 'profile' %}"       style="color: green; margin-right:20%;">driver profile page(view and edit info)</a><br>
  <br>
  <a href="{% url 'driver_search' %}" style="color: green; margin-right:20%;">search for a ride to confirm</a><br>
  <br>
  <a href="{% url 'confirmed_display' %}" style="color: green; margin-right:20%;">view confirmed requests, and complete</a><br> 
  <br>                                         

  {% else %}
  <h2 style="color: blue;">You are a user not driver!</h2><br>
  <br>
  <a href="{% url 'driver' %}" style="color: blue; margin-right:5%;">become a driver</a><br>
  <br>
  
  {% endif %}
  
<a href="{% url 'start_ride' %}" style="color: black; margin-right:5%;">start ride, send a ride request</a><br>
<br>


<a href="{% url 'ride_select' %}" style="color: green; margin-right:2%;">select ride</a><br>
<br>

<a href="{% url 'user_profile' %}" style="color: green;margin-right:5%;">user profile page</a><br>
<br>
<a href="{% url 'share_search' %}" style="color: purple;margin-right:5%;">search for a share</a><br>
<br>
<a href="{% url 'logout' %}" style="color: purple; margin-right:5%;" name="logout">logout</a>
   

</div>

